body {
  margin: 0;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  padding: 40px 0;
  margin-right: 63%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
p {
  font-family: Roboto;
}
